@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

html {
  background-color: #6de4cf;
}

body {
  padding: 30px;
  border: 1px solid black;
  background-color: rgb(233, 218, 218);
}

pre {
  text-align: left;
  font-size: 18px;
  background: hsl(30, 80%, 90%);
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

}

h1 {
  margin: 0 auto;
  text-align: center;
  color: gray;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
  background-color: lightyellow;
  border: 1px solid gray;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: red;
}

#index {
  margin: 0 auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid gray;
  width: 80%;
  text-align: center
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  background-color: bisque;
  min-height: 1200px;

}

.sect {
  margin: 20px auto;
  font-size: x-large;
  width: 65%;
  height: auto;
  background-color: rgb(233, 218, 218);
  border: 2px solid gray;
  padding: 20px;
  text-align: center !important;
}

.heading {
  margin: 20px auto;
  width: 95%;
  color: brown;
  height: auto;
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
}

.bad {
  margin: 20px auto;
  width: 95%;
  height: auto;
  background-color: pink;
  border: 5px solid black;
  padding: 20px;
}

.blk {
  margin: 20px auto;
  width: 95%;
  height: auto;
  border: 2px solid black;
  padding: 20px;
}

code {
  background: hsl(220, 80%, 90%);
  border: 2px solid hsl(200, 70%, 90%);
}

.notice {
  font-size: 1.2em;
  color: red;
}

.Vbox {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 442px;

}

.prebox {
  margin: 20 auto;
  padding: 20px;
  max-width: 600px;

}

img {
  border: 1px solid rgb(109, 102, 102);
  border-radius: 4px;
  padding: 5px;
  width: 85%;
}

.imagebox {
  padding: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.imagebox img {
  padding: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

ul {
  margin-top: 15px;
  text-align: center
}

ul li {
  font-size: 1.5em;
  display: inline;
}

h {
  height: 2px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.hr-r {
  height: 2px;
  background-color: red;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.hr-3 {
  height: 3px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.hr-4 {
  height: 4px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.shad {
  box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.39);
}

#wrapper a {
  font-family: 'Muli', sans-serif;
  color: rgba(7, 109, 41, 0.8);
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 26px;
  padding: 10px;
}

p {
  text-align: center;
  color: navy;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  padding: 10px;
}

p:hover {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.HOV:hover {
  background-color: rgb(159, 208, 228);
}

.Quick {
  font-family: 'Quicksand', sans-serif;
}

.edu {
  font-family: 'Edu TAS Beginner', cursive;
}

.sz:hover {
  font-size: 1.25em;
}

.index {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid gray;
  width: 80%;
  text-align: center;
}

.tal {
  text-align: left;
  color: darkgreen;
  font-size: 1.25em;
}

.navbar {
  background-color: rgb(233, 218, 218);
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}